@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&display=swap');
* {
  scrollbar-width: auto;
  scrollbar-color: white;
  scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  opacity: 0.5;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.changingGradient {
  background: linear-gradient(
    315deg,
    #0ed2f7,
    #fdba66,
    #fd6d71,
    #998ee0,
    #43add0,
    #e17dc2
  );
  background-size: 1200% 1200%;

  -webkit-animation: gradientChange 14s ease infinite;
  -moz-animation: gradientChange 14s ease infinite;
  -o-animation: gradientChange 14s ease infinite;
  animation: gradientChange 14s ease infinite;
}
.changingGradient1 {
  background: linear-gradient(
    135deg,
    #0ed2f7,
    #7aaac8,
    #afb4ff,
    #ba94d1,
    #fdba66,
    #f1b5b5,
    #e66ea6
  );
  background-size: 1200% 1200%;
  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  -o-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.changingGradient2 {
  background: linear-gradient(
    135deg,
    #fdba66,
    #f1b5b5,
    #e66ea6,
    #0ed2f7,
    #7aaac8,
    #afb4ff,
    #ba94d1
  );
  background-size: 1200% 1200%;
  -webkit-animation: gradientChange 13s ease infinite;
  -moz-animation: gradientChange 13s ease infinite;
  -o-animation: gradientChange 13s ease infinite;
  animation: gradientChange 13s ease infinite;
}

@-webkit-keyframes gradientChange {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
@-moz-keyframes gradientChange {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
@-o-keyframes gradientChange {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
@keyframes gradientChange {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
